{% extends 'base.html' %}

{% block head %}
<h1>Welcome to this static website</h1>
{% endblock %}

{% block body %}    <!-- Main site body content -->
    <div>
        <h4  style="color: green;">Step 1:</h4>
            <ul>
                <li> Do stuff a </li>
                <li> Do stuff b </li>
                <li> Do stuff c </li>
            </ul>
            <p> Now just sit and wait </p>
    </div>
    <div>
        <h4>Step 2:</h4>
        <p> Do something else</p>
    </div>
{% endblock %}


{% block foot %}
<p>Contact here: xxx <br>
    Adress: xxx</p> 
{% endblock %}